{{ define "main" }}
<div class="flex">
    <div class="md:w-3/4">
    {{ range .Pages }}
    <article class="px-6 mx-auto mb-16 w-full text-gray-700 justify-self-center sm:px-4 md:px-0">
        <h1><a class="text-2xl font-bold hover:text-pink-600" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class="text-sm text-slate-500 mb-3">
            Written on {{ replace (.PublishDate.Format "02 Jan 2006") " " "&nbsp;" | safeHTML}}, {{.ReadingTime}}&nbsp;min&nbsp;read.
        </div>
        <div class="prose max-w-none w-full lg:prose-lg">
            {{ .Summary }}

            <p class="mt-5"><a href="{{ .RelPermalink }}" class="pt-5 text-pink-500">Continue reading...</a></p>
        </div>
    </article>
    {{ end }}
    </div>
    {{- block "sidebar" . }}
    <sidebar class="ml-10 xl:ml-20 border-l-2 border-slate-300 w-1/4 hidden md:block px-2">
        <h3 class="text-lg font-bold">By Category</h3>
        <ul>
            {{ range .Site.Taxonomies.categories }}
            <a href="{{.Page.RelPermalink}}">
                <li class="border-b border-slate-300 flex justify-between items-end py-2">
                <p class="text-sm">{{.Page.Title}}</p>
                <div class="text-sm text-slate-500 hidden xl:block ml-2">
                    <p>{{ len .Pages}} items</p>
                </div>
            </li>
            </a>
            {{ end }}
        </ul>
        <h3 class="text-lg font-bold mt-5">Featured<span class="hidden xl:inline"> Writing</span></h3>
        <ul>
            {{ range first 5 (where (where .Site.Pages "Section" "w") "Params.recommended" true) }}
               <a href="{{.RelPermalink}}">
                <li class="border-b border-slate-300 flex justify-between items-end py-2">
                <p class="text-sm">{{.Title}}</p>
                <div class="text-sm text-slate-500 hidden xl:block ml-2">
                    <p>{{ replace (.PublishDate.Format "02 Jan '06") " " "&nbsp;" | safeHTML}}</p>
                </div>
            </li>
            </a>
            {{ end }}
        </ul>
        {{ with .Site.GetPage "/w" }}
        <p class="mt-5">Or <a href="{{ .RelPermalink }}" class="pt-5 text-pink-500">browse all writing...</a></p>
    {{ end }}
    </sidebar>
    {{- end }}
</div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    var url = new URL(window.location.href);
    if (url.searchParams.get("subscription") == "success") {
        var f = document.getElementById("flash");
        f.innerHTML = '<div class="bg-green-200 text-green-800 p-2 border-green-200 rounded-lg mb-4">' +
            '<span class="font-bold mr-4">Email Added Successfully!</span>' +
            "Thanks for subscribing to my writing. You'll get an email for each new post." +
            '</div>';
    }
</script>
{{ end }}