<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{ partial "head.html" . }}

<body class="flex flex-col min-h-screen">
    {{- partial "dev/dev-tools.html" . -}}
    {{- partial "header.html" . -}}
    {{- block "contentwrap" . }}
        <content class="flex-1 justify-between mt-2 pt-4 sm:pt-16 border-t-2 border-slate-300 {{ partialCached "width-classes.html" (dict) "" }}">
            <div id="flash"></div>
            {{- block "main" . }}{{- end }}
        </content>
    {{- end }}
    {{- partial "footer.html" . -}}
    {{- block "scripts" . }}{{- end }}
    {{- $script := resources.Get "index.js" | js.Build (dict "params" (dict "MetricsHost" .Site.Params.MetricsHost "SubscribeUrl" .Site.Params.SubscribeUrl)) }}
    <script async src="{{ $script.RelPermalink }}"></script>

    {{ if .Site.Params.ReviewPopover }}
    <div id="reviewPopover" class="absolute top-0 left-0 h-full w-full bg-orange-600/90">
        <div class="mx-auto mt-20 prose text-center bg-slate-100 rounded-lg p-4 border-2 border-orange-800">
            <h1 class="text-2xl">Should you be here?</h1>
            <p>This is the draft/review copy of <a href="{{.Site.BaseURL}}">{{.Site.BaseURL}}</a></p>

            <p>You shouldn't be here unless you've been specifically requested to review something.</p>
            <button
                class="bg-green-600 hover:bg-green-500 p-2 rounded-lg text-white notify-click"
                id="continueReview">That's me! Continue &gt;&gt;</button>
            <p>Otherwise, you'll be returned to <a href="{{.Site.BaseURL}}">{{.Site.BaseURL}}</a> in just a moment...</p>
        </div>
    </div>
    <script>
        var pop = document.getElementById("reviewPopover");
        var url = new URL(window.location.href);
        if (url.searchParams.get("review") == "1") {
            sessionStorage.setItem("reviewer", "1");
        }
        var timer = null;
        var reviewer = sessionStorage.getItem("reviewer");
        if (reviewer == "1") {
            pop.classList.add("hidden");
        } else {
            timer = setTimeout(() => { window.location = "{{.Site.BaseURL}}"; }, 10000);
            var but = document.getElementById("continueReview");
            but.addEventListener("click", loadSite);
        }

        function loadSite() {
            clearTimeout(timer);
            sessionStorage.setItem('reviewer', '1');
            document.getElementById('reviewPopover').classList.add('hidden');
        }
    </script>
    {{ end }}
</body>

</html>