{{ define "main" }}
<div class="flex">
    <div class="md:w-3/4">
    <div id="flash"></div>
    {{ range .Pages }}
    <article class="px-6 mx-auto mb-16 w-full text-gray-700 justify-self-center sm:px-4 md:px-0">
        <h1><a class="text-2xl font-bold hover:text-pink-600" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class="text-sm text-slate-500 mb-3">
            Written on {{ replace (.PublishDate.Format "02 Jan 2006") " " "&nbsp;" | safeHTML}}, {{.ReadingTime}}&nbsp;min&nbsp;read.
        </div>
        <div class="prose max-w-none w-full lg:prose-lg">
            {{ .Summary }}

            <p class="mt-5"><a href="{{ .RelPermalink }}" class="pt-5 text-pink-500">Continue reading...</a></p>
        </div>
    </article>
    {{ end }}
    </div>
</div>
{{ end }}