<div class="text-center my-auto">
  {{if .full}}
    <p>To chat about how I can help your business, discuss a topic of interest, or just to introduce yourself to me!</p>
  {{end}}
  <a href="https://zcal.co/mattb/lets-chat" target="_blank"
  type="button"
  class="border border-pink-600 bg-pink-600 hover:bg-pink-500 text-white rounded-md px-4 py-2 m-2 inline-block"
>
Book a 30 min VC
  </a>
</div>
<div class="mx-auto my-auto text-center {{if .vertical -}} mt-4{{end}}">
    Receive my writing via email:
    {{ partial "sub-form.html" (dict "formID" "widget") }}
</div>
<div class="text-center my-auto {{if .vertical -}} mt-10{{end}}">
    <p class="">Or drop a short note to:</p>
    <p><a class="text-pink-600" href="mailto:hi@mattb.nz">hi@mattb.nz</a></p>
</div>
