<div class="text-center my-auto">
  {{if .full}}
    <p>To chat about how I can help your business, discuss a topic of interest, or just to introduce yourself to me!</p>
  {{end}}
  <a href="https://zcal.co/mattb/lets-chat" target="_blank"
  type="button"
  class="border border-pink-600 bg-pink-600 hover:bg-pink-500 hover:border-pink-600 text-white rounded-md px-4 py-2 m-2"
>
Book a 30 min VC
  </a>
</div>
<div class="mx-auto my-auto text-center {{if .vertical -}} mt-4{{end}}">
    Receive my writing via email:
    <div class="mt-1">
      <input disabled type="text"  class="w-full bg-white pl-2 text-base font-semibold outline-0 rounded-tl-lg rounded-tr-lg" placeholder="" id="" />
      <input type="button" value="Subscribe" class="w-full bg-pink-300 p-2 rounded-bl-lg rounded-br-lg
       text-white" disabled/>
    </div>
    <p class="text-slate-500 mt-2">(coming soon)</p>
</div>
<div class="text-center my-auto {{if .vertical -}} mt-10{{end}}">
    <p class="">Or drop a short note to:</p>
    <p><a class="text-pink-600" href="mailto:hi@mattb.nz">hi@mattb.nz</a></p>
</div>
