<div class="mt-1" id="subWrapper-{{.formID}}">
  <input type="text"  class="w-full bg-white pl-2 text-base outline-0 rounded-tl-lg rounded-tr-lg" placeholder="email address" id="subEmail-{{.formID}}" />
  <input type="button" id="subButton-{{.formID}}" data-formid="{{.formID}}" value="Subscribe" class="w-full border-pink-600 bg-pink-600 hover:bg-pink-500 p-2 rounded-bl-lg rounded-br-lg text-white mb-subButton"/>
</div>
<p id="subError-{{.formID}}" class="mt-2"></p>
<p id="subSuccess-{{.formID}}" class="mt-2 font-bold hidden">Your address has been added. Please click the link in the email you will receive to confirm your subscription.</p>
