{{ define "contentwrap" }}

<hero class="my-2 sm:my-4" style="background-image:linear-gradient(to right bottom, #6a85b6 0%, #bac8e0 100%);">
    <div class="flex items-end mx-4 md:mx-auto md:w-2/3" >
        <h1 class="text-2xl md:text-5xl text-center font-sans font-bold text-gray-800 mt-20 md:mt-60 mb-10">
            Hi, I'm <span class="text-pink-600">Matt</span>. I build distributed software systems to solve real
             problems.
        </h1>
        {{- $img := resources.Get "matt-front.png" }}
        <img class="w-1/4 h-1/4 rounded-lg hidden lg:flex lg:mx-3 lg:my-10" src="{{ $img.RelPermalink }}" alt="Headshot of Matt looking at the camera">
    </div>
</hero>

<div class="mx-4 md:mx-auto md:w-2/3 my-2 sm:my-4 font-bold">
    I can improve your business by applying my experience in:
</div>
<keysell class="flex-1 mx-4 md:mx-auto md:w-2/3 my-2 sm:my-4 grid grid-cols-1 md:grid-cols-3 gap-x-20 gap-y-10">
    {{ range .Params.experience }}
    <div class="grid grid-cols-2 gap-x-1 gap-y-0 md:grid-cols-1">
        <div>
            <div class="w-1/4 mx-auto">
                {{- $icon := resources.Get .icon }}
                {{- $icon.Content | safeHTML}}
            </div>
            <h2 class="text-center font-sans font-bold text-xl">{{.title}}</h2>
        </div>
        <div class="md:text-center">
            <p>{{.desc}}
            </p>
        </div>
    </div>
    {{ end }}
</keysell>

<cta class="my-2 sm:my-4 py-10 md:py-5 bg-slate-100">
    <div class="mx-4 md:mx-auto md:w-2/3 mb-5">
        <h2 class="text-2xl inline mr-3">Next Steps</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-10 gap-y-5 mx-4 md:mx-auto md:w-2/3" >
        <div class="text-center">
            <button
            type="button"
            class="disabled border border-pink-300 bg-pink-300 text-white rounded-md px-4 py-2 m-2"
            disabled
          >
          Book a 30 min VC
            </button>
        <p class="text-slate-500">(coming soon)</p>

        </div>
        <div class="w-3/4 mx-auto text-center">
            Receive my writing via email:
            <div class="flex mt-3">
                <input disabled type="text"  class="w-full bg-white pl-2 text-base font-semibold outline-0 rounded-tl-lg rounded-bl-lg" placeholder="" id="" />
                <input type="button" value="Subscribe" class="bg-pink-300 p-2 rounded-tr-lg rounded-br-lg
                 text-white" disabled/>
              </div>
              <p class="text-slate-500 mt-2">(coming soon)</p>
        </div>
        <div class="text-center my-auto">
            <p class="">Or drop a short note to:</p>
            <p><a class="text-pink-600" href="mailto:hi@mattb.nz">hi@mattb.nz</a></p>
        </div>
    </div>
</cta>

<cta class="my-2 sm:my-4">
    <div class="items-end mx-4 md:mx-auto md:w-2/3" >
        <h2 class="text-2xl">Writing</h2>
        <p class="mt-2 mb-5">Ideas make the world go round, and I aspire to contribute to the conversation and create interesting and
            useful writing on a range of topics
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-20 gap-y-5" >

            <div>
                <h3 class="text-xl">Latest</h3>
                <ul>
                    {{ range first 5 (where (where .Site.Pages "Section" "w") "Kind" "page") }}
                       <a href="{{.RelPermalink}}">
                        <li class="border-b border-slate-300 flex justify-between items-end py-2">
                        <p>{{.Title}}</p>
                        <div class="text-sm text-slate-500 ml-2">
                            <p>{{ replace (.PublishDate.Format "02 Jan '06") " " "&nbsp;" | safeHTML}}</p>
                            <p>{{.ReadingTime}}&nbsp;min&nbsp;read</p>
                        </div>
                    </li>
                    </a>
                    {{ end }}
                </ul>
            </div>

            <div>
                <h3 class="text-xl">Recommended</h3>
                <ul>
                    {{ range first 5 (where (where .Site.Pages "Section" "w") "Params.recommended" true) }}
                       <a href="{{.RelPermalink}}">
                        <li class="border-b border-slate-300 flex justify-between items-end py-2">
                        <p>{{.Title}}</p>
                        <div class="text-sm text-slate-500 ml-2">
                            <p>{{ replace (.PublishDate.Format "02 Jan '06") " " "&nbsp;" | safeHTML}}</p>
                            <p>{{.ReadingTime}}&nbsp;min&nbsp;read</p>
                        </div>
                    </li>
                    </a>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="mt-10">
            <p>Explore other writing about:</p>
            <p class="text-center py-5 w-1/2 mx-auto">
                {{ range .Site.Taxonomies.categories }}
                    <a class="text-pink-500 px-10 py-10" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                {{ end }}
            </p>
            {{ with .Site.GetPage "/w" }}
                <p>Or <a href="{{ .RelPermalink }}" class="pt-5 text-pink-500">browse all writing!</a></p>
            {{ end }}
        </div>
    </div>
</cta>

<about class="mt-2 sm:mt-4 py-5" style="background-color: #6a85b6;">
    <div class="flex mx-4 md:mx-auto md:w-2/3 text-white">
        <div class="w-2/3">
        <h2 class="text-2xl pb-3">About Me</h2>
        <p class="py-1">
            I am an experienced technology leader, specializing in the development and operation of large,
            distributed software systems.
        </p>
        <p class="py-1">My current focus is on applying to expertise across a range of businesses and challenges through
            my consulting work and the development of SaaS applications to solve specialized business problems.
        </p>
        <p class="py-1">I'm a huge fan of the systems thinking, resilience engineering and open source philosophies and use
            asepects of these regularly in my professional work.
        </p>
        </div>
        <div class="w-1/3 text-right">
            <h2 class="text-2xl pb-3">Connect</h2>
            <ul>
                {{ range .Params.connect }}
                <li><a href="{{.href}}" class="hover:text-pink-500">
                    {{.title}}
                    <div class="inline ml-2">
                        {{- $icon := resources.Get .icon }}
                        {{- $icon.Content | safeHTML}}
                    </div>
                </a></li>
                {{ end }}
                <li><a href="mailto:hi@mattb.nz" class="hover:text-pink-500" >
                    hi@mattb.nz
                    <div class="inline ml-2">
                        {{- $icon := resources.Get "envelope-fill.svg" }}
                        {{- $icon.Content | safeHTML}}
                    </div>
                </a></li>
                <li><a href="{{ relref . "keys"}}" class="hover:text-pink-500">
                    (gpg): A48F065A
                    <div class="inline ml-2">
                        {{- $icon := resources.Get "key-fill.svg" }}
                        {{- $icon.Content | safeHTML}}
                    </a></div>
                </li>
            </ul>
        </div>
    </div>
</about>

{{ end }}